$efecto-over: (1,4);
$marg-izq: 40px;
$marg-der: 20px;
$rosa-fuerte: #af4d98;
* {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
}

.contenedor__general{
	max-width: 1200%;
	overflow: hidden;
	clear: both;
}

.btn-outline-success{
    background-color: $rosa-fuerte !important;
    color: white;
        &:hover {   
        background-color: chartreuse !important;
            
    }

}

.categ {
	grid-template-columns: repeat(4, 1fr);
	color: white;
    text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: fit-content;
}

.foto1 {
	margin-left: $marg-izq;
	margin-top: $marg-der;
}
.foto2 {
	margin-left: $marg-izq;
	margin-top: $marg-der;
}
.foto3 {
	margin-left: $marg-izq;
	margin-top: $marg-der;
}
.foto4 {
	margin-left: $marg-izq;
	margin-top: $marg-der;
}
.foto5 {
	margin-left: $marg-izq;
	margin-top: $marg-der;
}
.foto6 {
	margin-left: $marg-izq;
	margin-top: $marg-der;
}
.h1 {
	color: white !important;
	text-align: center;
	font-weight: bolder;
	font-size: 90px !important;
	font-style: normal;
	font-family: "Otomanopee One", sans-serif;
	word-spacing: unset;
	text-shadow: rgb(235, 47, 210) 2px 2px;
}
.Tamaño {
	margin: 0 1em;
	overflow: hidden;
	transition: transform .5s ease;
	height: 150px;
	width: 150px;
	float: left;
	border-radius: 150px;
	margin-left: 20px;
	&:hover {
		
		transform: scale(1.4);
	}	
}
.Bordes {
	border: 3px solid;
}
tr {
	background-color: $rosa-fuerte;
}

.tiendaLogin {
	float: right;
	clear: both;
	width: 100%;
	text-align: right;
	display: block;
	color: white;
	padding: 16px 20px;
} 
.navIndex__ul {
	list-style: none;
	font-size: 0;
	.navIndex__ul {
		position: absolute;
		display: none;
		.navIndex__li {
			display: block;
			background-color: $rosa-fuerte;
			color: white;
			padding: 50px 110px;
			width: 160px;
		}
	}
	.navIndex__li {
		&:hover {
			.navIndex__ul {
				display: block;
			}
		}
	}
}.navIndex__li {
	display: inline-block;
	width: 20%;
	position: relative;
	font-size: 14px;
	.navIndex__li--over {
		display: block;
		color: white;
		text-align: center;
		padding: 16px 20px;
		text-decoration: none;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		&:hover {
			background-color: #d66ba0;
			color: black;
			font-weight: bolder;
		}
	}
}
.navIndex__indexLi {
	color: black;
}
body {
	background-color: #332F2E;
}
header {
	background-color: #373636 !important;
	
}
#novedades__fotos {
	display: flex;
	justify-content: space-evenly;
    
	>h3 {
		align-content: center;
        .novedades__fotos--over &:hover{
            transform: scale(1.5);
            transition: transform .5s ease;
            background-color: chartreuse;
        }
	}
}
.contenedorImg {
	flex-direction: row;
	justify-content: left;
	flex-wrap: nowrap;
	background-color: brown;
}

p {
	font-size: 30px;
}
h3 {
	text-align: center;
	border-top: solid black;
	margin-bottom: 30px;
	padding-top: 30px;
	font-size: larger;
}
#iframe {
	text-align: center;
	justify-content: center;
}


.divContacto {
	border-radius: 5px;
	background-color: red;
	padding: 20px;
	width: 600px;
}


.containerCompra{
	padding-left: 20px;
	padding-right: 20px;
	background-color: #f4e4ba;
}


#textareaContacto {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
}
#pContacto {
	font-size: large;
}
#009E4F {
	display: flex;
}
#d66ba0 {
	display: flex;
}
#e5a9a9 {
	display: flex;
}
#f4e4ba {
	#tablaEnvios {
		display: flex;
	}
}
.tablaEnv {
	margin-left: 30px;
	margin: auto;
	margin-top: 30px;
}
.embed-container {
	position: relative;
	padding-bottom: 40%;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 10%;
		left: 20%;
		width: 60%;
		height: 80%;
	}
}
.product-card {
	background-color: blueviolet;
	width: 350px;
	position: relative;
	height: 280px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	img {
		height: 190px;
		width: 100%;
	}
}
.product-name {
	padding: 0 10px;
	h1 {
		margin: 5px 0;
		font-size: 20px;
	}
	p {
		color: #009E4F;
		font-size: medium;
	}
	.price {
		color: tomato;
		margin: 5px 0;
		font-weight: 200;
		span {
			color: #f8f8f8;
			text-decoration: line-through;
			margin: 0 10px;
		}
	}
}
.sale-logo {
	background-color: wheat;
	color: #009E4F;
	height: 20px;
	width: 60px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	position: absolute;
	top: 10px;
	border-radius: 2px;
	right: 10px;
	text-align: center;
}



// <!------------------------------------celular------------------------------------>
@media only screen and (max-width: 480px) {
	body {
		margin: 0px;
		padding: 0px;
	}
	.tiendaLogin {
		div {
			display: inline;
			clear: both;
			width: 100%;
			a {
				color: greenyellow;
				margin-left: 10px;
			}
		}
	}
	.Tamaño {
		margin-left: 0px !important;
		width: 90px !important;
		height: 90px !important;
	}
	.selector-for-some-widget {
		box-sizing: content-box;
	}
	.navIndex {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}
	li {
		display: block;
		font-size: 8px !important;
	}
	.navIndex__indexLi {
		color: black;
	}
	header {
		img {
			position: fixed;
			z-index: 150;
			top: 0px;
		}
	}
}
// <!------------------------------------Fincelular------------------------------------>



// <!------------------------------------tablet------------------------------------>
@media only screen and (min-width: 768px) {
	.mainProductos {
		color: red;
	}
	.categ {
		grid-template-columns: repeat(2, 1fr);
		color: red;
		grid-area: categ;
		color: white;
		text-align: end;
	}
	#novedadesProductos {
		text-align: center;
		color: rebeccapurple;
		text-align: center;
	}
	#mainProductos {
		display: flex;
		min-height: 500px;
		>aside {
			background-color: #d66ba0;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-items: center;
			align-items: center;
		}
}




// <!------------------------------------FinTablet------------------------------------>





#listaProducto {
	display: flex;
	flex-direction: column;
	flex: -1;
	
}
	#articleProductos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		flex: 1;
	}
	.container {
		width: 100vw;
		
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 20px 20px;
		justify-items: center;
		grid-auto-flow: row;
		grid-template-areas: "categ foto1 foto2 foto3" "categ foto4 foto5 foto6";
	}
	.foto1 {
		grid-area: foto1;
		border: solid purple;
	}
	.foto2 {
		grid-area: foto2;
		border: solid purple;
	}
	.foto3 {
		grid-area: foto3;
		border: solid purple;
	}
	.foto4 {
		grid-area: foto4;
		border: solid purple;
	}
	.foto5 {
		grid-area: foto5;
		border: solid purple;
	}
	.foto6 {
		grid-area: foto6;
		border: solid purple;
	}
	.containerCompra {
		display: flex;
		justify-content: space-between;
	}
	
	
	.ulCompra {
		display: block;
		list-style-type: disc;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 40px;
	}
	.liCompra {
		display: list-item;
		text-align: -webkit-match-parent;
	}
	.pCompra {
		margin: 30px 30px 30px 30px;
		padding-top: 30px;
		font-size: 25px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	.container2 {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 10%) 80%;
		grid-auto-columns: 1fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas: "text1" "text2" "fondocolor";
	}
	.text1 {
		grid-area: text1;
		text-align: center;
	}
	.text2 {
		grid-area: text2;
		text-align: center;
		margin-top: 120px;
	}
	.fondocolor {
		grid-area: fondocolor;
		background-color: khaki;
		width: fit-content;
	}

	.btn__todos{
		width: 100%;
		background-color: $rosa-fuerte;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		&:hover {
            animation: slidebg 2s linear infinite !important;
			background-image: linear-gradient( to right, #E7484F, #E7484F 16.65%, #F68B1D 16.65%, #F68B1D 33.3%, #FCED00 33.3%, #FCED00 49.95%, #009E4F 49.95%, #009E4F 66.6%, #00AAC3 66.6%, #00AAC3 83.25%, #732982 83.25%, #732982 100%, #E7484F 100% );
			color: black;
		}
       

	}
	@keyframes {
		slidebg {
			to { background-position: 20vw;
		}
	}
}
}


@media only screen and (max-width: 480px) {
	body {
		margin: 0px;
		padding: 0px;
	}
	.tiendaLogin {
		div {
			display: inline;
			clear: both;
			width: 100%;
			a {
				color: greenyellow;
				margin-left: 10px;
			}
		}
	}

	.selector-for-some-widget {
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
	}
	.navIndex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	li {
		display: block;
		font-size: 8px !important;
	}
	.navIndex__indexLi {
		color: red;
	}
	header {
		img {
			position: fixed;
			z-index: 150;
			left: 0px;
		}
	}
}
