@media only screen and (max-width: 480px) {
.navbar a{
    font-size: 13px;
}
.d-flex{
    padding-top: 80px;
}
}


.navbar{
    justify-content:  center !important;
    align-content: space-between !important;
}
.navbar-light{
background: rgba( 255, 255, 255, 1.00 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}