@media only screen and (max-width: 480px) {
.navbar a{
    font-size: 15px;
}
.d-flex{
    padding-top: 80px;
}
}


// .navbar-light{
// background: rgba( 255, 255, 255, 0.45 ) !important;
// box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )!important;
// backdrop-filter: blur( 2.5px )!important;
// -webkit-backdrop-filter: blur( 2.5px ) !important;
// border-radius: 10px !important;
// border: 1px solid rgba( 255, 255, 255, 0.18 )!important;
// }


// .navbar-light{
// background: rgba( 244, 71, 230, 0.50 ) !important;
// box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
// backdrop-filter: blur( 2.5px ) !important;
// -webkit-backdrop-filter: blur( 2.5px ) !important;
// border-radius: 10px !important;
// border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
// }


// .navbar-light{
// background: rgba( 255, 255, 255, 0.05 );
// box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
// backdrop-filter: blur( 2.5px );
// -webkit-backdrop-filter: blur( 2.5px );
// border-radius: 10px;
// border: 1px solid rgba( 255, 255, 255, 0.18 );
// }
.navbar-light{
background: rgba( 255, 255, 255, 1.00 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}