.col-xl-12{
    padding: 0% !important;
    margin: 0% !important;
}
.anchura{
    margin: 0% !important;
}
#ofertas_semanales{
    text-align: center;
    color: white;
}
.no_padding{
    margin-right:  0px !important;
    margin-left: 0px !important;
}